mixin table-end(rows)
    .desktop
        table.exam-table&attributes(attributes)
            thead
                tr.exam-table__head
                    th.exam-table__name Exam Name
                    th.exam-table__status Completion Status
                    th HESI Score
                    th Percentage Score
                    th.exam-table__button-cell Reports

            tbody

                each row in rows
                    tr.exam-table__row
                        td= row.name

                        td= row.status

                        td= row.score

                        td= row.scorePer

                        td.exam-table__button-cell
                            .button.exam-table__button.js-font View Answers
                            .button.exam-table__button.js-font View Rationales

    .tablet

        table.exam-table&attributes(attributes)
            thead
                tr.exam-table__head
                    th.exam-table__name Exam Name
                    th.exam-table__status Completion Status
                    th HESI Score
                    th Percentage Score

            tbody

                each row in rows
                    tr.exam-table__row
                        td= row.name

                        td= row.status

                        td= row.score

                        td= row.scorePer

        .button.exam-table__button.exam-table__button_left.js-font View Answers
        .button.exam-table__button.exam-table__button_left.js-font View Rationales

    .mobile

        .exam-table-slider.swiper-container.js-font.js-slider

            .swiper-wrapper

                each row in rows
                    .exam-table-slider__row.swiper-slide
                        .exam-table-slider__item
                            .exam-table-slider__label.exam-table-slider__label__overline Exam Name
                            .exam-table-slider__value= row.name

                        .exam-table-slider__item
                            .exam-table-slider__label Completion Status
                            .exam-table-slider__value= row.status

                        .exam-table-slider__item
                            .exam-table-slider__label HESI Score
                            .exam-table-slider__value= row.score

                        .exam-table-slider__item
                            .exam-table-slider__label Percentage Score
                            .exam-table-slider__value= row.scorePer

                    .exam-table-slider__row.swiper-slide
                        .exam-table-slider__item
                            .exam-table-slider__label.exam-table-slider__label__overline Exam Name
                            .exam-table-slider__value= row.name

                        .exam-table-slider__item
                            .exam-table-slider__label Completion Status
                            .exam-table-slider__value= row.status

                        .exam-table-slider__item
                            .exam-table-slider__label HESI Score
                            .exam-table-slider__value= row.score

                        .exam-table-slider__item
                            .exam-table-slider__label Percentage Score
                            .exam-table-slider__value= row.scorePer

                    .exam-table-slider__row.swiper-slide
                        .exam-table-slider__item
                            .exam-table-slider__label.exam-table-slider__label__overline Exam Name
                            .exam-table-slider__value= row.name

                        .exam-table-slider__item
                            .exam-table-slider__label Completion Status
                            .exam-table-slider__value= row.status

                        .exam-table-slider__item
                            .exam-table-slider__label HESI Score
                            .exam-table-slider__value= row.score

                        .exam-table-slider__item
                            .exam-table-slider__label Percentage Score
                            .exam-table-slider__value= row.scorePer

            .exam-table-slider__prev
            .exam-table-slider__next


        .button.exam-table-slider__button.js-font View Answers
        .button.exam-table-slider__button.js-font View Rationales
