mixin table-end(rows)
    table.exam-table.exam-table_desktop&attributes(attributes)
        thead
            tr.exam-table__head
                th.exam-table__name Exam Name
                th.exam-table__status Completion Status
                th HESI Score
                th Percentage Score
                th.exam-table__button-cell Reports

        tbody

            each row in rows
                tr.exam-table__row
                    td= row.name

                    td= row.status

                    td= row.score

                    td= row.scorePer

                    td.exam-table__button-cell
                        .button.exam-table__button.js-font View Answers
                        .button.exam-table__button.js-font View Rationales





    each row in rows
        .exam-table-card.js-font

            .exam-table-card__item
                .exam-table-card__label Exam Name
                .exam-table-card__value= row.name

            .exam-table-card__item
                .exam-table-card__label Completion Status
                .exam-table-card__value= row.status

            .exam-table-card__item
                .exam-table-card__label HESI Score
                .exam-table-card__value= row.score

            .exam-table-card__item
                .exam-table-card__label Percentage Score
                .exam-table-card__value= row.scorePer

            .exam-table-card__item
                .exam-table-card__label
                .exam-table-card__value.exam-table-card__button
                    .button.exam-table__button.js-font View Answers
                    .button.exam-table__button.js-font View Rationales

        .exam-table-card.js-font

            .exam-table-card__item
                .exam-table-card__label Exam Name
                .exam-table-card__value= row.name

            .exam-table-card__item
                .exam-table-card__label Completion Status
                .exam-table-card__value= row.status

            .exam-table-card__item
                .exam-table-card__label HESI Score
                .exam-table-card__value= row.score

            .exam-table-card__item
                .exam-table-card__label Percentage Score
                .exam-table-card__value= row.scorePer

            .exam-table-card__item
                .exam-table-card__label
                .exam-table-card__value.exam-table-card__button
                    .button.exam-table__button.js-font View Answers
                    .button.exam-table__button.js-font View Rationales
